#pizzaPart {
    background-color: red;
}
#custInfo {
    background-color: yellow;
}
#billInfo {
    background-color: green;
}
#cartInfo {
	background-color: aqua;
}
form {
    background: orange;
}
#title, footer {
    background: blue;
    min-height: 100px;
}
body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
header, footer {
    grid-column: span 3;
}
body div {
	display: grid;
	grid-column: span 3;
	grid-template-columns: 200px repeat(6, 1fr);
	grid-template-rows: auto;
}
body div aside {
	grid-column: span 1;
}
body div form {
    display: grid;
    grid-column: span 6;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 400px);
}
body div form fieldset {
    grid-column: span 3;
}
